body {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}




.sign-page {
  display: flex;
}
.sign-page
.left-container {
  width: 50%;
  height: 100vh;
  background: #EEF5FE;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-page
.left-container
.image-container {
  width: 90%;
}
.sign-page
.left-container
.image-container
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sign-page
.right-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100vh;
}
.sign-page
.right-container
.sign-content {
  width: 60%;
  padding: 2rem;
}
.sign-page
.right-container
.sign-content
.sign-header {
  text-align: center;
}
.sign-page
.right-container
.sign-content
.sign-header
.sign-colored {
  font-size: 1.5625rem;
  color: #359FE6;
}
.sign-page
.right-container
.sign-content
.sign-header
.sign-text {
  color: #8F9091;
  font-size: 1.1rem;
}


.sign-page
.right-container
.sign-content
.sign-body {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.sign-page
.right-container
.sign-content
.sign-body
input {
  width: 100%;
  border-radius: 16px;
  height: 4rem;
  border: 1px solid #8F9091;
  margin-bottom: 1rem;
  color: #8F9091;
  outline: none;
  line-height: 3rem;
  padding: 0 2rem;
  box-sizing: border-box;
}
.sign-page
.right-container
.sign-content
.sign-body
button {
  margin-top: 1rem;
  height: 4rem;
  background: #359FE6;
  color: white;
  border-radius: 16px;
  border: 1px solid #359FE6;
  outline: none;
}
.sign-page
.right-container
.sign-content
.sign-body
button:active {
  background: rgb(44, 132, 190);
  border: 1px solid rgb(44, 132, 190);
}


@media (max-width: 480px) {
  .sign-page {
    display: flex;
    flex-direction: column;
  }
  .sign-page
  .left-container{
    width: 100%;
    height: 50vh;
  }
  .sign-page
  .right-container{
    width: 100%;
    height: 50vh;
  }
  .sign-page
  .right-container
  .sign-content {
    min-width: 90%;
    padding: 2rem;
  }
}

/* @media (min-height: 481px) {
  .sign-page
  .left-container{
    height: 50vh;
  }
  .sign-page
  .right-container{
    height: 50vh;
  }
} */